{% extends 'base.html' %}
{% load bootstrap5 %}

{% bootstrap_css %}

{% block title %}Send Invitation{%endblock title %}

{% block content %}
{% bootstrap_messages %}
<br>
<br>
<div class="d-flex justify-content-center">
    <div class="col-sm-6 col-md-5 col-lg-4">
        <div class="card bg-light">
            <div class="card-header">
                <h3 class="card-title mb-0 text-center">Send Invitation</h3>
            </div>
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {% bootstrap_form invitation_form %}
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary me-2">Send Invitation</button>
                        <a href="{% url 'dashboard' %}">
                            <button type="button" class="btn btn-danger">Go Back!</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% bootstrap_javascript %}
{% endblock %}