{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>SignUp</title>
</head>
<body>
    {% bootstrap_messages %}
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="card bg-light">
                <div class="card-header">
                    <h3 class="card-title mb-0 text-center">Sign up</h3>
                </div>
                <div class="card-body">
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        {% bootstrap_form register_form %}
                        {% bootstrap_form role_form %}
                        <div class="d-flex justify-content-center mt-3">
                            <input type="submit" class="btn btn-success me-2" value="Register"/>
                            <a href="{% url '' %}">
                                <button type="button" class="btn btn-primary">Login</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
</body>
</html>