{% extends 'supplier/supplier_base.html' %}

{% block title %}Search Supplier{%endblock title %}

{% block content_wrapper %}
    <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card bg-light">
            <div class="card-header">
                <h3 class="card-title mb-0 text-center">Search Supplier</h3>
            </div>
            <div class="card-body">
                {% block card_content %}
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Company</th>
                                <th class="text-center">Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for supplier in suppliers %}
                            <tr>
                                <td class="text-center">{{ supplier.name }}</td>
                                <td class="text-center">{{ supplier.company_id }}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center gap-2">
                                        <a href="{% url 'company:supplier_profile' %}?supplier_id={{ supplier.id }}" class="btn btn-primary btn-sm" style="min-width: 60px;">Profile</a> 
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No supplier found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-3 gap-2">
                        <a href="{% url 'company:supplier_list' %}">
                            <button type="button" class="btn btn-warning">Back to supplier list</button>
                        </a>
                        <a href="{% url 'dashboard' %}">
                            <button type="button" class="btn btn-primary">Home</button>
                        </a>
                    </div>
                {% endblock card_content %}
            </div>
        </div>
    </div>
{% endblock content_wrapper %} 