{% extends 'product/product_base.html' %}
{% load bootstrap5 %}

{% block title %}Product Category Register{%endblock title %}

{% block card_title %}Register a product category{% endblock card_title %}

{% block card_content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form product_category_form %}
        <div class="d-flex justify-content-center mt-3">
            <input type="submit" class="btn btn-success me-2" value="Register"/>
            <a href="{% url 'dashboard' %}">
                <button type="button" class="btn btn-primary">Home</button>
            </a>
        </div>
    </form>
{% endblock card_content %} 